{{- /* Main template for rendering the homepage */ -}}

{{- define "main" }}
  {{- $aboutPage := site.GetPage "about/about" }}
  
  {{- if $aboutPage }}
    <section id="about-home">
      <!-- Render content from the about page -->
      {{ $aboutPage.Content }}
    </section>
  {{- else }}
    <p>Error: Could not find the about page content!</p>
  {{- end }}
  
  <section id="blog-button">
    <!-- Add a button that links to the posts section -->
    <a href="{{ site.BaseURL }}posts" class="btn">View Blog Posts</a>
  </section>
{{- end }}
